.navbar {
  background: rgb(129, 18, 129);
  min-height: 50px;
  
  width: 100%;
  font-size: calc(4.4px + 1.75vw);
  
  white-space: nowrap;
  display: block;
   
}

li {
  
  width: 33.3%;
  padding: 26px 0;
  text-align: center;
  color: white;
  
  list-style-type: none;
  display: inline-block;

 
  
}

a {
  color: white;
}


